<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kdrama App</title>
</head>
<body>
  <h1>Welcome to the Kdrama App</h1>
  <p>An app for collecting your favorite kdramas</p>
</body>
</html>